html,body{
    margin: 0px;
    text-align: center;
}

#imagem_fundo{
    background-image: url(img/Design\ sem\ nome\ \(4\).png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

#titulo{
    padding-top: 40px;
    color:blue;
    font-size: 120%;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%; 
    padding-bottom: 40px;
    background: greenyellow;
}
#subtitulo{
    background: red;
    color: yellow;
    font-size: 130%;
    font-weight: 100px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: chartreuse;
    border-radius: 20px;
}
#acao{
    color:blue;
    border: 5px forestgreen solid;
    border-radius:10px;
    padding:10px;
    font-size:20px;
    background:yellowgreen;
}
#acao2{
    color: yellow;
    border: 5px royalblue solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: cyan;
    background: blue;

}