html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    margin-top: 8px;;
}

header{
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
    z-index: 50;
}

.logo img{
    width: 50px;
    position: absolute;
    margin-left: 13px;
    float: left;
}
.efeito:hover{
    background-color: orangered;
    border-radius: 20%;
}
#menu{
    float: right;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    list-style: none;
}

li{
    float: right;
    padding: 20px 20px 22px 20px;
}

li:hover{
    background-color: orangered;
}

li a{
    text-decoration: none;
    color: white;
}

#imagem_fundo{
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 10px;
    text-align: center;
}

#titulo{
    color: black;
    text-shadow: 2px 2px 8px #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 2%;
    margin: 0;
    font-size: 550%; 
}

.subtitulo{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.5;
    font-size: 150%;
    font-weight: 100;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 3px white solid;    
}

#acao{
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #000000be;
}

.icone{
    width: 55px;
    padding: 20px;
    border-radius: 50px;
}

.destaque{
    background-color: #f29f0521;
}
section{
    padding: 20px;
    float: left;
    text-align: center;
}

.imgtecnologia{
    width: 80%;
}
#tecnologia{
    background-image:url(img/tecnologia.png);
    background-attachment: fixed;
}
#acao:hover{
    background-color: black;
    font-weight: 545;
}

.icone:hover{
    background-color: #000000;    
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;    
}

.dois{
    width: 40%;
}

.tres{
    width: 29%;
    padding: 0 2%;
}

.quatro{
    width: 15%;
}

#sobre img{
    width: 50%;
}
footer{
    background-color: black;
    color: white;
    float: left;
    width: 100%;
    text-align: center;
}
.tecnologiaagricola{
    color: white;
}